# macOS
.DS_Store

# dotenv
.env

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# mypy
.mypy_cache/

# Application
multihop_search/wiki.abstracts.2017.tar.gz
multihop_search/wiki.abstracts.2017.jsonl
multihop_search/._wiki.abstracts.2017.jsonl
