# macOS
.DS_Store

# dotenv
.env

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# mypy
.mypy_cache/

# Application
wiki.abstracts.2017.tar.gz
wiki.abstracts.2017.jsonl
._wiki.abstracts.2017.jsonl
